# .gitignore

# Only things that exist in your repo

# secrets
.env
.env.* 

# Python caches
__pycache__/
*/__pycache__/
*.pyc

# datasets / large training data
backend/scripts/fer_data/train/
backend/scripts/fer_data/test/

# trained model files
# backend/scripts/*.h5

# Node dependencies
node_modules/
