Flask==3.0.0
flask-cors==4.0.0
pymongo==4.6.1
Werkzeug==3.0.1
opencv-python==4.8.1.78
tensorflow-cpu==2.13.0
Pillow==10.1.0
numpy==1.26.2
python-dotenv==1.0.0
Flask-Limiter==3.5.0
Flask-WTF==1.2.1
email-validator==2.1.0
safety==2.3.5
gunicorn==21.2.0
